.Type{
    color: white;
    text-shadow: rgba(0, 0, 0, 0.25)
}

.Normal {
    background-color: #A6AB72;
}

.Fighting{
    background-color: #CF1001;
}

.Flying{
    background-color: #B084F6;
}

.Poison{
    background-color: #AD20A3;
}

.Ground{
    background-color: #E3C356;
}

.Rock{
    background-color: #BAA310;
}

.Bug{
    background-color: #A1BE00;
}

.Ghost{
    background-color: #774F9C;
}

.Steel{
    background-color: #B9B6D2;
}

.Fire{
    background-color: #FE7B00;
}

.Water{
    background-color: #6787F7;
}

.Grass{
    background-color: #57D03F;
}

.Electric{
    background-color: #FCD400;
}

.Psychic{
    background-color: #FF3C83;
}

.Ice{
    background-color: #87DADA;
}

.Dragon{
    background-color: #8100FF;
}

.Dark{
    background-color: #745845;
}

.Fairy{
    background-color: #FA91AA;
}